{{#if data}}

<div class="row">
  {{#each data}}
  <div class="col s12  m4 l3">
    <div class="card" style="height:546px">
      <div class="card-image">
        <img src="{{this.photo}}">
      </div>
      <div class="card-content">
        <h5>{{this.title}}</h5>
        <p>{{this.description}}</p>

        <!-- Link Icon -->
        <a href="{{this.link}}" class="btn-floating waves-effect waves-light" target="__blank"><i class="material-icons">insert_link</i>
        </a>
        <!-- Comments Modal Trigger -->
        <a data-id="{{this.id}}" class="btn-floating waves-effect waves-light btn modal-trigger commentBtn" href="#modal3"><i
            class="material-icons">insert_comment</i></a>

        <!-- Save Icon -->
        <a class="btn-floating waves-effect waves-light red saveBtn" data-id="{{this.id}}"><i class="material-icons">add</i></a>

        <!-- Comments Modal Structure -->
        <div id="modal3" class="modal">
          <div class="modal-content">
            <p><strong>{{this.title}}</strong></p>
            {{#each this.comment}}
            <p>{{@index}}</p>
            <!-- Remove Comment Button -->
            <a class="btn-floating waves-effect waves-light" data-id="{{this.id}}"><i class="material-icons">close</i></a>
            {{/each}}
          </div>

          <div class="modal-footer">
            <textarea id="new-comment-field" type="text"></textarea>
            <!-- Save Comment Button -->
            <a class="btn-flat waves-effect waves-light" id="addCommentBtn" data-id="{{this.id}}">Add Comment</a>

            <!-- Close Modal Button -->
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>


          </div>
        </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>

{{else}}
<h1>No Articles Availible!</h1>
{{/if}}