{{#if data}}

<div class="row">
  {{#each data}}
  <div class="col s12  m6 l4">
    <div class="card" style="height:560px">
      <div class="card-image">
        <img src="{{this.photo}}">
      </div>
      <div class="card-content">
        <h5>{{this.title}}</h5>
        <p>{{this.description}}</p>

        <!-- Comments Modal Structure -->
        <div id="modal{{this.id}}" class="modal">
          <div class="modal-content">
            <p><strong>{{this.title}}</strong></p>
            {{#each this.comments}}
            <hr>
            <p>{{this.comments}}
              <!-- Remove Comment Button -->
              <a class="btn-flat waves-effect waves-light" id="removeComment" data-id="{{this.id}}" style="float:right!important"><i
                  class="material-icons">close</i></a>
            </p>
            {{/each}}
          </div>

          <div class="modal-footer">
            <textarea id="new-comment-field{{this.id}}" type="text"></textarea>
            <!-- Save Comment Button -->
            <a class="btn-flat waves-effect waves-light" id="addCommentBtn" data-id="{{this.id}}">Add Comment</a>

            <!-- Close Modal Button -->
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>

          </div>
        </div>

      </div>
      <!-- Link Icon -->
      <a href="{{this.link}}" class="btn-floating waves-effect waves-light link-icon" target="__blank"><i class="material-icons">insert_link</i>
      </a>
      <!-- Comments Modal Trigger -->
      <a class="btn-floating waves-effect waves-light btn modal-trigger commentBtn comment-icon" href="#modal{{this.id}}"><i class="material-icons">insert_comment</i></a>

      <!-- Remove Save Icon -->
      <a class="btn-floating waves-effect waves-light red removeSaveBtn save-icon" data-id="{{this.id}}"><i class="material-icons">close</i></a>
    </div>
  </div>

  {{/each}}
</div>

{{else}}
<h1>No Articles Saved!</h1>
{{/if}}